*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

form{
  height: 80px;
  padding: 20px;
  background-color: #b6c20c;
  border-radius: 10px;
  display: flex;
  gap: 10px;;
}
